.blue {
  background-color: blue;
}

.yellow {
  background-color:yellow;
}

.red {
  background-color:red;
}

body {
  background-color:#7DFFFC;
}

.card-columns {
  height:80vh;
  width:33%;
  display:flex;
  flex-wrap:wrap;
}

.map {
  height:100vh;
}

.align-center {
  display:flex;
  align-items: center;
}

.searchForm {
  margin-top:10px;
}

.card {
  width:33%;
}
