.blue {
  background-color: blue;
}

.yellow {
  background-color:yellow;
}

.red {
  background-color:red;
}

body {
  background-color:#ECECEC;
}

.map {
  height:667.66px;
}

.align-center {
  display:flex;
  align-items: center;
}

  .scrolling-wrapper {
            /* display: flex;
  flex-wrap: nowrap;
  overflow: auto;
 overflow-y: hidden; */
overflow-y: hidden;
  }

        /* display: flex;
  flex-wrap: nowrap;
  overflow: auto;
 overflow-y: hidden; */

  .brand-green {
    background-color:#1DB954;
  }

  .carousel-container {
    height:285.06px;
  }

  .carousel-card {
    height:285.06px;
  }

 .card {
    flex: 0 0 auto;
    height:300px;
  }

  /* .carousel-inner img {
    height:40%;
  } */

  .header-direction {
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-content-container {
    flex-direction: column;
  }

 /* .intro-image {
     height:30%;
  object-fit: contain;
 } */

  @media screen and (min-width: 375px) {
  /* .card {
  height:100%;
  } */
  .card-img-top {
  height:30%;
  object-fit: contain;
  }

  .carousel-inner {
    height:300px;
  }
  .map {
    height:35vh;
  }

    .intro-image {
    object-fit: contain;
    height:45%
  }
    /* .carousel-inner img {
    max-height:38%;
  } */

}

  @media screen and (min-width: 667px) {
 .main-content-container {
   flex-direction:row;
 }
  .map {
    height:300px;
  }
}

  @media screen and (min-width: 768px) {
 .main-content-container {
   flex-direction:column;
 }
  .map {
    height:45vh;
  }
    /* .scrolling-wrapper {
    height:400px;
  } */
    .header-direction {
    justify-content: space-between;
  }

    .card-img-top {
  height:60%;
  object-fit: contain;
  }
    /* .card-img-top {
  height:50%;
  object-fit: contain;
  } */
        /* .carousel-inner img {
    max-height:%;
  } */
  /* .card img {
    max-height:25%
  } */
  .intro-image {
    object-fit: contain;
    height:60%
  }
}

  @media screen and (min-width: 1024px) {
 .main-content-container {
   flex-direction:column;
 }
  .map {
    height:40vh;
  }
      /* .scrolling-wrapper {
    height:350px;
  } */
      .card-img-top {
  height:55%;
  object-fit: contain;
  }
}

  @media screen and (min-width: 1025px) {
 .main-content-container {
   flex-direction:column;
 }
  .map {
    height:45vh;
  }
      /* .scrolling-wrapper {
    height:500px;
  } */
      .card-img-top {
  height:65%;
  object-fit: contain;
  }
}

  /* .carousel-inner img {
    width: 100%;
    height: 100%;
  } */

  .background-white {
    background-color:white;
  }
